<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/manage.js"></script>
    <link rel="stylesheet" href="/media/css/style.css">
    {% block script%}

    {% endblock %}
</head>
<body>
<div class="top line">
    <div class="middle">
        <div class="top-left">
            <a href="/">IT HUB</a>
            <a href="/courses">Видеокурсы</a>
            <a href="#">Тест и практика</a>
            <a href="#">Программы обучения</a>
        </div>
        <div class="top-right">
            <a href="#" class="btn btn-outline-success">Войти</a>
            <a href="#" class="btn btn-outline-danger">Регистрация</a>
        </div>

    </div>
</div>


{% block content%}
qq
{% endblock%}

<div class="line footer">
    <div class="middle">
        Все права защищены
    </div>
</div>


</body>
</html>