{%extends 'base.html' %}

{%block content %}

<div class="middle main-info">
    <div class="main-info-left">
        <h3>
            Онлайн школа <br>
            IT профессий
        </h3>
        <h5>
            и сообщество программистов
        </h5>
        <h6>
            Обучаем веб программированию, созданию игр и разработке ПО.
            Проходите курсы, решайте задачи, просматривайте новости и становитесь настоящим мастерами программирования!
        </h6>
        <a href="#" class="btn btn-danger ">Онлайн обучение</a>
    </div>

    <div class="main-info-right">
        <img src="/media/images/img1.jpg" alt="">
    </div>

    <div class="line index-video">
        <div class="middle">
            <div class="index-video-title">
                <h3>Видеокурсы <a href="#" class="btn btn-danger"> Все курсы({{course_count}})</a></h3>
                <p class="index-video-desc">В нашем сообществе программистов на данный момент представлено 84 курса,
                    большинство из которых являются бесплатными.
                    Вы можете приступить к изучению как платных, так и бесплатных курсов прямо сейчас. Ниже представлено
                    несколько случайных курсов на сайте.</p>
            </div>
        </div>
        <div class="index-video-cont">
            {% for course in courses %}
            <div class="index-video-cont-item">
                <div class="index-video-cont-item-top">
                    <img src="/media/{{course.logo}}" alt="">
                    <span>{{course.category.title}}</span>
                </div>
                <div class="index-video-cont-item-bottom">
                    <a href="/courses/{{course.id}}/"> {{course.title}}</a>
                </div>
            </div>

            {% endfor %}

        </div>
        <p>
            <a href="#" class="btn btn-danger">Посмотреть все курсы ({{course_count}})</a>
        </p>

    </div>


    <div class="line middle">
        <div class="index-last-news">
            <h3>Новые статьи</h3>
            <div class="index-last-news-cont">

                <div class="index-last-news-cont-item">
                    <div class="index-last-news-cont-item-top">
                        <img src="/media/images/news1.jpeg" alt="">
                    </div>
                    <div class="index-last-news-cont-item-bottom">
                        <div class="index-last-news-cont-item-bottom-cont"><a href="#">Почему разработчики бывают такими
                            злыми?</a>
                            Встретили разозленного айтишника? Можете не сомневаться: причиной его плохого настроения
                            точно является
                            одна из этих трех проблем. Причем в данные ситуации попадают абсолютно все программисты!
                        </div>
                        <div class="index-last-news-cont-item-bottom-info"> 253 23 ноября 2021 в 16:50</div>
                    </div>
                </div>


                <div class="index-last-news-cont-item">
                    <div class="index-last-news-cont-item-top">
                        <img src="/media/images/news2.png" alt="">
                    </div>
                    <div class="index-last-news-cont-item-bottom">
                        <div class="index-last-news-cont-item-bottom-cont"><a href="#">15 интересных и забавных API.</a><br>Не
                            желаете добавить в свой продукт
                            больше уникальности и занимательных фишек? Если да, эти API наверняка вам пригодятся!
                            Чтобы перейти на их странички, просто кликайте по заголовкам.
                        </div>
                        <div class="index-last-news-cont-item-bottom-info"> 3.2K 19 ноября 2021 в 19:05</div>
                    </div>
                </div>


                <div class="index-last-news-cont-item">
                    <div class="index-last-news-cont-item-top">
                        <img src="/media/images/news3.jpg" alt="">
                    </div>
                    <div class="index-last-news-cont-item-bottom">
                        <div class="index-last-news-cont-item-bottom-cont"><a href="#">Самые опасные компьютерные вирусы
                            XXI века</a>
                            Все мы сталкивались с разными цифровыми вирусами.
                            В Интернете их сейчас полным полно! Но знали ли вы, что порой они способны навредить
                            не только отдельным устройствам, но и целым государствам!

                        </div>
                        <div class="index-last-news-cont-item-bottom-info"> 253 23 ноября 2021 в 16:50</div>
                    </div>
                </div>

                <p>
                    <a href="#" class="btn btn-danger">Посмотореть больше</a>
                </p>


            </div>
        </div>
    </div>
</div>
{%endblock%}