<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="media/css/style.css">
</head>
<body>




<!--
{% if active_user%}
ID -> {{active_user.id}}<br>
phone -> {{active_user.phone}}.<br>
FULL NAME ->{{active_user.last_name}} {{active_user.first_name}} <br>

    <a href="/edit">
        Edit profile
    </a><br>
<a href="/logout/"> Log out</a>

{%else%}
<h2>not found</h2>
   <a href="/login">LOGIN</a>


{%endif%}
-->

<div class="top line">
    <div class="middle">
        <div class="top-left">
            <a href="#">IT HUB</a>
            <a href="#">Видеокурсы</a>
            <a href="#">Тест и практика</a>
            <a href="#">Программы обучения</a>
        </div>
        <div class="top-right">
            <a href="#" class="btn btn-outline-success">Войти</a>
            <a href="#" class="btn btn-outline-danger">Регистрация</a>
        </div>

    </div>
</div>

<div class="middle main-info">
    <div class="main-info-left">
        <h3>
             Онлайн школа <br>
             IT профессий
        </h3>
        <h5>
            и сообщество программистов
        </h5>
        <h6>
            Обучаем веб программированию, созданию игр и разработке ПО.
            Проходите курсы, решайте задачи, просматривайте новости и становитесь настоящим мастерами программирования!
        </h6>
        <a href="#" class="btn btn-danger ">Онлайн обучение</a>
    </div>

    <div class="main-info-right">
        <img src="/media/images/img1.jpg" alt="" >
    </div>

    <div class="line index-video">
        <div class="middle">
            <div class="index-video-title">
                <h3>Видеокурсы <a href="#" class="btn btn-danger"> Все курсы(184)</a> </h3>
                <p class="index-video-desc">В нашем сообществе программистов на данный момент представлено 84 курса, большинство из которых являются бесплатными.
                    Вы можете приступить к изучению как платных, так и бесплатных курсов прямо сейчас. Ниже представлено несколько случайных курсов на сайте.</p>
            </div>
        </div>
        <div class="index-video-cont">
            <div class="index-video-cont-item">
                <div class="index-video-cont-item-top">
                    <img src="/media/images/img3.jpg" alt="">
                </div>
                <div class="index-video-cont-item-bottom">
                    Создание игры на Unreal Engine 4 / FPS шутер
                    11 уроков
                </div>
            </div>



            <div class="index-video-cont-item">
                <div class="index-video-cont-item-top">
                    <img src="/media/images/img3.jpg" alt="">
                </div>
                <div class="index-video-cont-item-bottom">
                    Создание игры на Unreal Engine 4 / FPS шутер
                    11 уроков
                </div>
            </div>



            <div class="index-video-cont-item">
                <div class="index-video-cont-item-top">
                    <img src="/media/images/img3.jpg" alt="">
                </div>
                <div class="index-video-cont-item-bottom">
                    Создание игры на Unreal Engine 4 / FPS шутер
                    11 уроков
                </div>
            </div>

    </div>
</div>

</body>
</html>